.scroll-outer{
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    height: 100vh;
    scrollbar-width: none;
   
}



.scroll{
    
    height: 85vh;
    scroll-snap-align: start; 
}

.scroll > div{
    height: 100%;
}

.scroll video {
    height: 90%;
}